<h1>ユーザー一覧</h1>

<%= link_to "新規", new_user_path, class: "btn btn-primary" %>

<table class="table table-hover">
  <tr>
    <td>名前</td>
    <td></td>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= link_to user.name, user %></td>
    <td><%= link_to "編集", edit_user_path(user), class: "btn btn-primary" %></td>
  </tr>
  <% end %>
</table>
